# Ignore dependencies
/node_modules/
/.venv/
/sa_venv/

# Ignore logs and temporary files
/logs/
/temp/
/finetuning-sentiment-model-3000-samples/

# Ignore sensitive information
.env

# Ignore operating system files
.DS_Store
Thumbs.db